**/.ipynb_checkpoints
**/__pycache__
*.mp4
*.npy
*.npz
*.dae
data/*
logs/*
.idea
*.ckpt
experiments/
cache/
texfusion_dataset/
texture_test/
src/zero123/CLIP/
src/zero123/taming-transformers/
render_dataset/
midas_models/